@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";

}


<body style="margin-top: 6%">
    <div class="container">
        <div class="px-4 py-5 px-md-5 text-center text-lg-start bg-dark py-5">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0 text-center text-white">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            A melhor oferta pelo <br />
                            <span class="text-primary">seu carro</span>
                        </h1>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0 align-self-center">
                        <div class="card">
                            <div class="card-header bg-white">
                                <div class="row">
                                    <div class="col text-center">
                                        <a class="nav-link text-black" >
                                            <i class="bi bi-box-arrow-in-right"></i>  Login
                                        </a>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="vertical-line"></div>
                                    </div>
                                    <div class="col text-center">
                                        <a class="nav-link text-black" href="/Identity/Account/Register">
                                            <i class="bi bi-person-plus"></i>  Cadastrar
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body py-5 px-md-5">
            <form id="account" method="post">
                
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>


                </div>
                                    <p>
                                        <a asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                                    </p>
                                   
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                </div>
                
                   
            </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    .vertical-line {
        border-left: 1px solid black;
        height: 40px; /* Adjust the height as needed */
        margin: 0 auto;
    }

</style>
