@{

    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";

}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concessionária Virtual</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    
    <style>
        #carouselExample {
            height: 60%;
            overflow: hidden;
        }

        .carousel-inner img {
            height: 100%;
            object-fit: cover;
        }
    </style>

</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <!-- Header-->

        <header id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://mclaren.scene7.com/is/image/mclaren/01.%20Coupe_Rear_Spider_Temple_Final:crop-16x9?wid=1786&hei=1005" class="d-block w-100" alt="..." style="height: 35rem">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="display-5 fw-bolder text-white mb-2">Explore os Melhores Carros Novos</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Descubra uma ampla variedade de modelos e escolha o carro dos seus sonhos.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://wallpapercave.com/wp/wp3978395.jpg" class="d-block w-100" alt="..." style="height: 35rem">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="display-5 fw-bolder text-white mb-2">Veículos Usados com Qualidade Garantida</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Explore nossa seleção de carros usados e encontre opções confiáveis para qualquer orçamento.</p>
                    </div>
                </div>
                <!-- Adicione mais slides conforme necessário -->
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" style="margin-left: -5%;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" style="margin-right: -5%;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A melhor maneira de começar sua jornada automotiva.</h2></div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                <h2 class="h5">Modelos em Destaque</h2>
                                <p class="mb-0">Descubra nossos modelos em destaque e encontre as últimas novidades no mundo automotivo.</p>
                            </div>

                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                <h2 class="h5">Carros Usados Certificados</h2>
                                <p class="mb-0">Explore nossa seleção de carros usados certificados, garantindo qualidade e confiabilidade.</p>
                            </div>
                            <div class="col mb-5 mb-md-0 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Customização Exclusiva</h2>
                                <p class="mb-0">Personalize seu carro de acordo com seu estilo com nossa gama de opções de customização.</p>
                            </div>
                            <div class="col h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Assistência Técnica Especializada</h2>
                                <p class="mb-0">Conte com nossa equipe de especialistas para manutenção e serviços técnicos de alta qualidade.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">"Encontrar a Concessionária Virtual foi a melhor decisão para adquirir meu novo carro. A variedade de opções e o excelente atendimento fizeram toda a diferença!"</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="...">
                                <div class="fw-bold">
                                    Joana Silva
                                    <span class="fw-bold text-primary mx-1">/</span>
                                    Cliente Satisfeita
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </main>
    <!-- Footer-->
    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  
    
    a
</body>
</html>
