@{

    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Responsivo com Bootstrap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="path/to/llamaai.js"></script>

</head>

<body>


    <div class="column-container" style="margin-top: 3%; zoom: 90%; display: flex;">

        <div class="left-column" style=" position: fixed; top: 0; bottom: 0; left: 0; width: 260px; background-color: black;">
            
        </div>
        <div class="right-column" style="flex: 5; margin-left: 200px; margin-right: 20px;  min-height: 100vh; display: flex; flex-direction: column; border-color: white; ">
            <div id="conversation-container" style="font-size: 125%; margin-bottom: 45px; ">
                <div id="pergunta-container" style=" font-size: 125%"></div>
                <div id="resposta" style="font-size: 125%;"></div>

            </div>

            <div class="bottom-input" style="position: fixed; margin-left: 17.5%;  bottom: 0; width: calc(65% - 200px); margin-bottom: 4    0px;display: flex; align-items: center; justify-content: space-between; background-color: white; padding: 10px;">
                <input id="pergunta" type="text" class="rounded-input" placeholder="Digite aqui" style="width: calc(100% - 50px);">
                <button type="button" class="send-button" onclick="enviarRequisicao()" style="width: 50px; margin-left: 0.5%; background-color: #343a40; border: none; color: white; cursor: pointer;">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- jQuery via CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Popper.js via CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Bootstrap JS via CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function enviarRequisicao() {
            var pergunta = document.getElementById("pergunta").value;
            var conversationContainer = document.getElementById("conversation-container");

            var perguntaDiv = document.createElement("div");
            perguntaDiv.innerText = "Você: " + pergunta;
            perguntaDiv.style.marginBottom = "20px"; // Adicionando a margem aqui

            var respostaDiv = document.createElement("div");
            respostaDiv.style.marginTop = "0"; // Removendo a margem superior

            var answerContainer = document.createElement("div");
            answerContainer.classList.add("answer-container");

            answerContainer.appendChild(perguntaDiv);
            answerContainer.appendChild(respostaDiv);

            conversationContainer.appendChild(answerContainer);

            var requestData = {
                'model': 'llama-7b-chat',
                'messages': [
                    { role: 'user', content: pergunta  + " Escreva em português"}
                ]
            };

            fetch('https://api.llama-api.com/chat/completions', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer LL-FEH2hfdFmZQa4M0UOLyFovcynLxZlY1HFqKRapDyrf8KOAdYyQAgKRYvJ75QrnGW'
                },
                body: JSON.stringify(requestData)
            })
                .then(response => response.json())
                .then(data => {
                    respostaDiv.innerText = "Chat: " + data.choices[0].message.content;
                    document.getElementById("pergunta").value = "";
                })
                .catch(error => console.error('Erro:', error));

           
        }
    </script>


<style>
        .rounded-input {
            width: calc(100% - 10vh);
            padding: 10px;
            margin-left: 0.75%;
            border-radius: 10px;
            border: 1px solid #555;
        }

        .answer-container {
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 45px;
        }

        .send-button {
            width: 50px;
            background-color: #343a40;
            border: none;
            padding: 10px;
            color: white;
            border-radius: 0 10px 10px 0;
            cursor: pointer;
        }

        .input-container {
            display: flex;
        }
    </style>

</body>

</html>
